<a href="https://colab.research.google.com/github/rrachxz/WIA1007/blob/main/dp-tutorials/data-preprocessing2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Data Cleaning
   - Rename columns
   - Drop irrelevant columns (USERID, timestamp, free text)
   - Handle missing values (drop / fill / unknown)
   - Clean Salary & Compensation (outliers, invalids)
   - Standardize currencies
   - Fix high-cardinality text (optional before EDA)

2. Data Integration
   - Merge datasets (if any)
   - Drop duplicates
   - Drop derived or repeated features

3. Data Transformation
   - Scale data (MinMax, Standard, Z-score)
   - Decimal scaling
   - Prepare for categorical encoding (after EDA)

4. Data Reduction
   - Drop low-value features
   - Reduce category levels
   - Optional: PCA / feature selection

# 1. DATA CLEANING — this is where your dataset cleaned

In [ ]:
import pandas as pd
from google.colab import drive

drive.mount('/content/drive') # So this step = connect Colab ↔ Google Drive
# cleaned_df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Data Science/Dataset/cleaned_salary_data.csv')#, encoding='utf-8'
cleaned_df=pd.read_csv('/content/drive/My Drive/WIA1007/Dataset/cleaned_salary_data.csv')#, encoding='utf-8' #it’s a pre-cleaned version of salary dataset

# extra_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Data Science/Dataset/xtra_info.csv')
extra_df = pd.read_csv('/content/drive/My Drive/WIA1007/Dataset/xtra_info.csv') #it’s a pre-cleaned version of extra information

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
for col in cleaned_df.columns:
    print(col)

USERID
Age
Industry
Job title
Salary
Compensation
Country
State
City
Overall years of experience
Years of experience in current job
Education level
Gender
Race
Salary_USD
Compensation_USD

In [ ]:
for col in extra_df.columns:
    print(col)

USERID
CGPA
Salary_month_USD
Special Bonus_GBP

Make names consistent & easy to use.

In [ ]:
cleaned_df = cleaned_df.rename(columns={'Job title': 'Job_title',
    'Overall years of experience': 'Overall_experience',
    'Years of experience in current job': 'Current_job_experience',
    'Education level':'Education_level'})

In [ ]:
extra_df = extra_df.rename(columns={'Special Bonus_GBP':'Special_bonus_GBP'})

In [ ]:
for col in cleaned_df.columns:
    print(col)

print('\n')

for col in extra_df.columns:
    print(col)

USERID
Age
Industry
Job_title
Salary
Compensation
Country
State
City
Overall_experience
Current_job_experience
Education_level
Gender
Race
Salary_USD
Compensation_USD


USERID
CGPA
Salary_month_USD
Special_bonus_GBP

# 2. DATA INTEGRATION — this is where your two datasets combine

Your datasets share one perfect key: USERID

In [ ]:
final_df = cleaned_df.merge(extra_df, on='USERID', how='left')

In [ ]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32952 entries, 0 to 32951
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   USERID                  32952 non-null  int64
 1   Age                     32952 non-null  object
 2   Industry                32952 non-null  object
 3   Job_title               32952 non-null  object
 4   Salary                  32923 non-null  float64
 5   Compensation            32952 non-null  float64
 6   Country                 32952 non-null  object
 7   State                   32952 non-null  object
 8   City                    32952 non-null  object
 9   Overall_experience      32952 non-null  object
 10  Current_job_experience  32952 non-null  object
 11  Education_level         32952 non-null  object
 12  Gender                  32952 non-null  object
 13  Race                    32952 non-null  object
 14  Salary_USD              32923 non-null  float64
 15  Compensation_USD        32952 non-null  float64
 16  CGPA                    13338 non-null  float64
 17  Salary_month_USD        13338 non-null  float64
 18  Special_bonus_GBP       13338 non-null  float64
dtypes: float64(7), int64(1), object(11)
memory usage: 4.8+ MB

In [ ]:
final_df.describe()

,USERID,Salary,Compensation,Salary_USD,Compensation_USD,CGPA,Salary_month_USD,Special_bonus_GBP
count,32952.000000,32923.000000,32952.000000,32923.000000,32952.000000,13338.000000,13338.000000,13338.000000
mean,12975.188304,84984.485466,3699.974478,83322.304232,3659.805532,2.992978,6793.381548,2501.054431
std,8079.326889,42697.286948,4406.243530,42183.956153,4391.436071,0.574878,2343.373443,1438.778929
min,0.000000,1.000000,0.000000,0.265000,0.000000,2.000039,3155.000000,0.000000
25%,6029.750000,54000.000000,0.000000,52400.000000,0.000000,2.501808,4916.666667,1265.000000
50%,12082.500000,75000.000000,2000.000000,73000.000000,2000.000000,2.984469,6333.333333,2503.500000
75%,19875.250000,107500.000000,5000.000000,105000.000000,5000.000000,3.484652,8333.333333,3761.750000
max,28179.000000,193250.000000,12500.000000,241562.500000,15625.000000,3.999992,12614.500000,5000.000000

In [ ]:
final_df.head()

,USERID,Age,Industry,Job_title,Salary,Compensation,Country,State,City,Overall_experience,Current_job_experience,Education_level,Gender,Race,Salary_USD,Compensation_USD,CGPA,Salary_month_USD,Special_bonus_GBP
0,0,25-34,Education (Higher Education),Research and Instruction Librarian,55000.0,0.0,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White,55000.0,0.0,NaN,NaN,NaN
1,1,25-34,Computing or Tech,Change & Internal Communications Manager,54600.0,4000.0,United Kingdom,Unknown,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White,68250.0,5000.0,2.695615,4250.0,125.0
2,2,25-34,"Accounting, Banking & Finance",Marketing Specialist,34000.0,2000.0,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White,34000.0,2000.0,NaN,NaN,NaN
3,3,25-34,Nonprofits,Program Manager,62000.0,3000.0,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White,62000.0,3000.0,NaN,NaN,NaN
4,4,25-34,"Accounting, Banking & Finance",Accounting Manager,60000.0,7000.0,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White,60000.0,7000.0,2.689383,12500.0,1133.0

**Duplicate / overlapping columns**

In [ ]:
#salary per month is not needed
#can be derived from Salary_month_USD = Salary_USD / 12
final_df.drop(['Salary_month_USD'], axis=1, inplace=True)

In [ ]:
final_df['CGPA'] = final_df['CGPA'].fillna(final_df['CGPA'].median())

final_df['Special_bonus_GBP'] = final_df['Special_bonus_GBP'].fillna(0)

In [ ]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32952 entries, 0 to 32951
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   USERID                  32952 non-null  int64
 1   Age                     32952 non-null  object
 2   Industry                32952 non-null  object
 3   Job_title               32952 non-null  object
 4   Salary                  32923 non-null  float64
 5   Compensation            32952 non-null  float64
 6   Country                 32952 non-null  object
 7   State                   32952 non-null  object
 8   City                    32952 non-null  object
 9   Overall_experience      32952 non-null  object
 10  Current_job_experience  32952 non-null  object
 11  Education_level         32952 non-null  object
 12  Gender                  32952 non-null  object
 13  Race                    32952 non-null  object
 14  Salary_USD              32923 non-null  float64
 15  Compensation_USD        32952 non-null  float64
 16  CGPA                    32952 non-null  float64
 17  Special_bonus_GBP       32952 non-null  float64
dtypes: float64(6), int64(1), object(11)
memory usage: 4.5+ MB

**Drop Derivable Data**

We already have:

Salary → raw value

Currency → original currency

Salary_USD → standardized value

Since Salary_USD = Salary × FX_rate,
Salary + Currency → derivable

We can drop Salary and Currency because salary in USD is the standardized version used for analysis.

In [ ]:
exchange_rate = 1.27  # example rate

final_df['Special_bonus_GBP'] = final_df['Special_bonus_GBP'] * exchange_rate

In [ ]:
final_df= final_df.rename(columns={'Special_bonus_GBP':'Special_bonus_USD'})
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32952 entries, 0 to 32951
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   USERID                  32952 non-null  int64
 1   Age                     32952 non-null  object
 2   Industry                32952 non-null  object
 3   Job_title               32952 non-null  object
 4   Salary                  32923 non-null  float64
 5   Compensation            32952 non-null  float64
 6   Country                 32952 non-null  object
 7   State                   32952 non-null  object
 8   City                    32952 non-null  object
 9   Overall_experience      32952 non-null  object
 10  Current_job_experience  32952 non-null  object
 11  Education_level         32952 non-null  object
 12  Gender                  32952 non-null  object
 13  Race                    32952 non-null  object
 14  Salary_USD              32923 non-null  float64
 15  Compensation_USD        32952 non-null  float64
 16  CGPA                    32952 non-null  float64
 17  Special_bonus_USD       32952 non-null  float64
dtypes: float64(6), int64(1), object(11)
memory usage: 4.5+ MB

In [ ]:
final_df.to_csv("/content/drive/MyDrive/Colab Notebooks/Data Science/Dataset/merged_salary_data.csv", index=False)

# 3. DATA TRANSFORMATION

Changing the values of your columns so they become more useful, cleaner, standardized, or prepared for analysis / ML.

**Noise**

**Aggregation — Summarizing Data**
Data cube construction

In [ ]:
#aggregate salary-related columns to create summary metrics.
final_df['Total_Compensation_USD'] = (
    final_df['Salary'] +
    final_df['Compensation'] +
    (final_df['Special_bonus_USD'])  # convert GBP→USD
)

In [ ]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32952 entries, 0 to 32951
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   USERID                  32952 non-null  int64
 1   Age                     32952 non-null  object
 2   Industry                32952 non-null  object
 3   Job_title               32952 non-null  object
 4   Salary                  32923 non-null  float64
 5   Compensation            32952 non-null  float64
 6   Country                 32952 non-null  object
 7   State                   32952 non-null  object
 8   City                    32952 non-null  object
 9   Overall_experience      32952 non-null  object
 10  Current_job_experience  32952 non-null  object
 11  Education_level         32952 non-null  object
 12  Gender                  32952 non-null  object
 13  Race                    32952 non-null  object
 14  Salary_USD              32923 non-null  float64
 15  Compensation_USD        32952 non-null  float64
 16  CGPA                    32952 non-null  float64
 17  Special_bonus_USD       32952 non-null  float64
 18  Total_Compensation_USD  32923 non-null  float64
dtypes: float64(7), int64(1), object(11)
memory usage: 4.8+ MB

In [ ]:
final_df.groupby('Country')['Salary'].mean()

Country
 New Zealand                               86000.000000
 U.S.                                      42500.000000
 US                                        86000.000000
 United States                             69000.000000
$2,175.84/year is deducted for benefits    61700.000000
                                               ...
united states of america                   56000.000000
us                                         89877.727273
usa                                        89028.139423
usa                                        60000.000000
🇺🇸                                         95250.000000
Name: Salary, Length: 361, dtype: float64

In [ ]:
final_df['Country'].unique()

array(['United States', 'United Kingdom', 'US', 'USA', 'Canada',
       'United Kingdom ', 'usa', 'UK', 'Scotland ', 'U.S.',
       'United States ', 'The Netherlands', 'Australia ', 'Spain', 'us',
       'Usa', 'England', 'finland', 'United States of America', 'France',
       'United states', 'Scotland', 'USA ', 'United states ', 'Germany',
       'UK ', 'united states', 'Ireland', 'Australia', 'Uk',
       'United States of America ', 'U.S. ', 'canada', 'Canada ', 'U.S>',
       'ISA', 'Great Britain ', 'US ', 'United State', 'U.S.A', 'Denmark',
       'U.S.A.', 'America', 'Netherlands', 'netherlands', 'England ',
       'united states of america', 'Ireland ', 'Switzerland',
       'Netherlands ', 'Bermuda', 'Us', 'The United States',
       'United State of America', 'Germany ', 'Mexico ', 'United Stated',
       'South Africa ', 'Belgium', 'Northern Ireland', 'u.s.',
       'South Africa', 'UNITED STATES', 'united States', 'Sweden',
       'Hong Kong', 'Kuwait', 'Sri lanka', 'Contracts',
       'USA-- Virgin Islands', 'United Statws', 'England/UK', 'U.S',
       "We don't get raises, we get quarterly bonuses, but they periodically asses income in the area you work, so I got a raise because a 3rd party assessment showed I was paid too little for the area we were located",
       'Unites States ', 'Usa ', 'U.S.A. ', 'England, UK.', 'Greece',
       'Japan', 'U. S. ', 'Britain ', 'United Sates', 'Japan ', 'Austria',
       'Canada, Ottawa, ontario', 'Global', 'Sweden ',
       'United States of American ', 'FRANCE', 'Uniited States',
       'United Kingdom (England)',
       'Worldwide (based in US but short term trips aroudn the world)',
       'CANADA ', 'Canadw', 'Luxembourg', 'United Sates of America',
       'ireland',
       'United States (I work from home and my clients are all over the US/Canada/PR',
       'Colombia', 'CANADA', 'Unted States', 'germany', 'United Statesp',
       'United Stattes', 'United Statea', 'United Kingdom.', 'Mexico',
       'New Zealand', 'Unites States', 'United Statees', 'United kingdom',
       'Cayman Islands', 'UNited States', 'Can',
       'I am located in Canada but I work for a company in the US',
       'United kingdom ', 'Uniyed states', 'Uniyes States',
       'United States of Americas', 'U.A.', 'Latvia', 'Finland', 'U. S.',
       'Puerto Rico', 'US of A', 'Rwanda', 'United States of america ',
       'United Arab Emirates ', 'Spain ', 'U.K. ', 'Romania', 'U.SA',
       'United Kindom', 'United Status', 'New Zealand ',
       'Currently finance', ' U.S.', 'Serbia', 'Russia ', 'UXZ',
       'England, UK', 'Canda', 'Puerto Rico ', 'Canada and USA',
       'Catalonia', '$2,175.84/year is deducted for benefits', 'uk',
       'France ', 'Italy (South)', 'Jersey, Channel islands', 'Uk ',
       'Virginia', 'Afghanistan', 'U.s.', 'Great Britain', 'U.s.a.',
       'USS', 'Uniteed States', 'New Zealand Aotearoa', 'U.K.',
       'Hartford', 'Japan, US Gov position', 'Csnada', 'United Stares',
       'New zealand', 'I.S.', 'UK (Northern Ireland)',
       'UK for U.S. company', ' US', 'Unites states ', 'NZ', 'Us ',
       'Hong Kong ', 'Canad', 'Unite States', 'australia', 'The US',
       'China', 'united states ', 'The Netherlands ', 'Cambodia',
       'United states of America ', 'Vietnam', 'Remote', 'India',
       'Bangladesh', 'Israel', 'Lithuania', 'Eritrea',
       'For the United States government, but posted overseas', 'IS',
       'Switzerland ', 'United Kingdomk', 'Italy', 'Norway',
       ' New Zealand', 'Cuba', 'Slovenia', 'Australi', "Cote d'Ivoire",
       'united kingdom', 'From Romania, but for an US based company',
       'Somalia', 'Wales (United Kingdom)', 'England, Gb', 'UnitedStates',
       'spain', 'Danmark', 'U.K. (northern England)', 'U.K', 'Malaysia',
       'NL', 'the Netherlands', 'Nederland', 'Slovakia',
       'United States of america', 'Portugal ', 'England, United Kingdom',
       'Sierra Leone', 'Englang', 'United statew', 'UAE', 'Belgium ',
       'Singapore',
       'bonus based on meeting yearly goals set w/ my supervisor',
       'International ', 'The Bahamas ', 'Wales',
       "I earn commission on sales. If I meet quota, I'm guaranteed another 16k min. Last year i earned an additional 27k. It's not uncommon for people in my space to earn 100k+ after commission. ",
       'Costa Rica', ' United States', 'United Statues', 'Argentina',
       'Untied States',
       'USA (company is based in a US territory, I work remote)', 'Chile',
       'denmark', 'UK (England)', 'UK, remote', 'Scotland, UK', 'USAB',
       'Unitied States', 'Norway ', 'Qatar', 'United Sttes', 'Hungary',
       'Remote (philippines)', 'Unites kingdom ', 'South africa',
       'Portugal', 'united stated', 'United States Of America', 'Nigeria',
       'Panamá', 'Northern Ireland ', 'england', 'SWITZERLAND', 'Brazil',
       'Austria, but I work remotely for a Dutch/British company',
       'I was brought in on this salary to help with the EHR and very quickly was promoted to current position but compensation was not altered. ',
       'Uniter Statez', 'U. S ', 'Congo', 'United states of America',
       'Uruguay', 'Pakistan', 'USA tomorrow ', 'United Stateds',
       'n/a (remote from wherever I want)', 'singapore',
       'US govt employee overseas, country withheld', 'usa ', 'Malaysia ',
       'Uganda', 'Philippines', 'Poland', 'Malta', 'Bulgaria', 'Estonia',
       'Morocco', 'new zealand', 'Africa', 'Ecuador', 'Zimbabwe', 'Ghana',
       'San Francisco', 'Usat', '🇺🇸 ', 'Luxemburg', 'Unitef Stated', 'UA',
       'Wales, UK', 'United Stares ', 'Croatia ',
       'England, United Kingdom ', 'United STates', 'USaa', 'uSA',
       'South Korea ', 'The netherlands', 'Ukraine ', 'america',
       'switzerland', 'United States- Puerto Rico',
       'From New Zealand but on projects across APAC', 'Y', 'United y',
       'Thailand', 'Wales (UK)', 'Isle of Man',
       'Northern Ireland, United Kingdom', 'europe', 'California ',
       'UK, but for globally fully remote company', 'Australian ',
       'Jamaica', 'uS', 'USD', 'the netherlands',
       "USA, but for foreign gov't", 'japan', 'Kenya', 'Jordan',
       'United Statss', 'United states of america', 'UsA',
       'I work for a UAE-based organization, though I am personally in the US.',
       'United  States', 'france', 'Aotearoa New Zealand', 'na', 'Policy',
       'Cyprus', 'hong konh', 'United States is America', 'Liechtenstein',
       'Company in Germany. I work from Pakistan.', 'Canadá', 'ENGLAND',
       'United States of American', 'U.S.A ', 'Bosnia and Herzegovina',
       'pakistan', 'Nigeria ', 'London', 'ss', 'dbfemf', 'Saudi Arabia',
       'ibdia', 'LOUTRELAND', 'philippines', 'ff', 'Taiwan', 'Myanmar',
       'Burma', 'india', 'Italia', 'Hong KongKong', 'Liberia', '1'],
      dtype=object)

In [ ]:
us_variants = [
    "united states", "united state", "united statess", "united states of america",
    "united state of america", "united states is america", "us", "u s",
    "u s a", "u s a ", "usa", "u s ", "u s a.", "america", "usaa", "usat", "u s "
]

uk_variants = [
    "united kingdom", "uk", "u k", "england", "scotland", "wales", "great britain",
    "britain", "northern ireland", "england uk", "england gb"
]

netherlands_variants = ["netherlands", "the netherlands", "nederland", "nl"]

australia_variants = ["australia", "australian"]

canada_variants = ["canada", "can", "canada ottawa ontario", "canad", "canada and usa"]

In [ ]:
def clean_country(x):

    # UNITED STATES
    if x in us_variants:
        return "United States"

    # UNITED KINGDOM
    if x in uk_variants:
        return "United Kingdom"

    # CANADA
    if x in canada_variants:
        return "Canada"

    # AUSTRALIA
    if x in australia_variants:
        return "Australia"

    # NETHERLANDS
    if x in netherlands_variants:
        return "Netherlands"

    # INDIA
    if x in ["india", "ibdia"]:
        return "India"

    # PAKISTAN
    if x in ["pakistan", "pakistan ", "company in germany i work from pakistan"]:
        return "Pakistan"

    # SINGAPORE
    if x in ["singapore", "singapore "]:
        return "Singapore"

    # MALAYSIA
    if x in ["malaysia", "malaysia "]:
        return "Malaysia"

    # PHILIPPINES
    if x in ["philippines", "remote philippines"]:
        return "Philippines"

    # GERMANY
    if x in ["germany", "germany "]:
        return "Germany"

    # FRANCE
    if x in ["france", "france "]:
        return "France"

    # UKRAINE
    if x in ["ukraine", "ukraine "]:
        return "Ukraine"

    # UAE
    if x in ["united arab emirates", "uae"]:
        return "United Arab Emirates"

    # NEW ZEALAND
    if x in ["new zealand", "aotearoa new zealand"]:
        return "New Zealand"

    ### ADD MORE AS NEEDED ###

    # DEFAULT: unknown → Other
    return "Other"

final_df["Country_Clean"] = final_df["Country"].apply(clean_country)

In [ ]:
final_df['Country_Clean'].unique()

array(['Other', 'United States', 'Canada', 'Netherlands', 'Germany',
       'United Kingdom', 'Australia', 'Singapore', 'New Zealand',
       'France', 'Pakistan', 'India', 'Philippines'], dtype=object)

In [ ]:
final_df['Country'].unique()

array(['United States', 'United Kingdom', 'US', 'USA', 'Canada',
       'United Kingdom ', 'usa', 'UK', 'Scotland ', 'U.S.',
       'United States ', 'The Netherlands', 'Australia ', 'Spain', 'us',
       'Usa', 'England', 'finland', 'United States of America', 'France',
       'United states', 'Scotland', 'USA ', 'United states ', 'Germany',
       'UK ', 'united states', 'Ireland', 'Australia', 'Uk',
       'United States of America ', 'U.S. ', 'canada', 'Canada ', 'U.S>',
       'ISA', 'Great Britain ', 'US ', 'United State', 'U.S.A', 'Denmark',
       'U.S.A.', 'America', 'Netherlands', 'netherlands', 'England ',
       'united states of america', 'Ireland ', 'Switzerland',
       'Netherlands ', 'Bermuda', 'Us', 'The United States',
       'United State of America', 'Germany ', 'Mexico ', 'United Stated',
       'South Africa ', 'Belgium', 'Northern Ireland', 'u.s.',
       'South Africa', 'UNITED STATES', 'united States', 'Sweden',
       'Hong Kong', 'Kuwait', 'Sri lanka', 'Contracts',
       'USA-- Virgin Islands', 'United Statws', 'England/UK', 'U.S',
       "We don't get raises, we get quarterly bonuses, but they periodically asses income in the area you work, so I got a raise because a 3rd party assessment showed I was paid too little for the area we were located",
       'Unites States ', 'Usa ', 'U.S.A. ', 'England, UK.', 'Greece',
       'Japan', 'U. S. ', 'Britain ', 'United Sates', 'Japan ', 'Austria',
       'Canada, Ottawa, ontario', 'Global', 'Sweden ',
       'United States of American ', 'FRANCE', 'Uniited States',
       'United Kingdom (England)',
       'Worldwide (based in US but short term trips aroudn the world)',
       'CANADA ', 'Canadw', 'Luxembourg', 'United Sates of America',
       'ireland',
       'United States (I work from home and my clients are all over the US/Canada/PR',
       'Colombia', 'CANADA', 'Unted States', 'germany', 'United Statesp',
       'United Stattes', 'United Statea', 'United Kingdom.', 'Mexico',
       'New Zealand', 'Unites States', 'United Statees', 'United kingdom',
       'Cayman Islands', 'UNited States', 'Can',
       'I am located in Canada but I work for a company in the US',
       'United kingdom ', 'Uniyed states', 'Uniyes States',
       'United States of Americas', 'U.A.', 'Latvia', 'Finland', 'U. S.',
       'Puerto Rico', 'US of A', 'Rwanda', 'United States of america ',
       'United Arab Emirates ', 'Spain ', 'U.K. ', 'Romania', 'U.SA',
       'United Kindom', 'United Status', 'New Zealand ',
       'Currently finance', ' U.S.', 'Serbia', 'Russia ', 'UXZ',
       'England, UK', 'Canda', 'Puerto Rico ', 'Canada and USA',
       'Catalonia', '$2,175.84/year is deducted for benefits', 'uk',
       'France ', 'Italy (South)', 'Jersey, Channel islands', 'Uk ',
       'Virginia', 'Afghanistan', 'U.s.', 'Great Britain', 'U.s.a.',
       'USS', 'Uniteed States', 'New Zealand Aotearoa', 'U.K.',
       'Hartford', 'Japan, US Gov position', 'Csnada', 'United Stares',
       'New zealand', 'I.S.', 'UK (Northern Ireland)',
       'UK for U.S. company', ' US', 'Unites states ', 'NZ', 'Us ',
       'Hong Kong ', 'Canad', 'Unite States', 'australia', 'The US',
       'China', 'united states ', 'The Netherlands ', 'Cambodia',
       'United states of America ', 'Vietnam', 'Remote', 'India',
       'Bangladesh', 'Israel', 'Lithuania', 'Eritrea',
       'For the United States government, but posted overseas', 'IS',
       'Switzerland ', 'United Kingdomk', 'Italy', 'Norway',
       ' New Zealand', 'Cuba', 'Slovenia', 'Australi', "Cote d'Ivoire",
       'united kingdom', 'From Romania, but for an US based company',
       'Somalia', 'Wales (United Kingdom)', 'England, Gb', 'UnitedStates',
       'spain', 'Danmark', 'U.K. (northern England)', 'U.K', 'Malaysia',
       'NL', 'the Netherlands', 'Nederland', 'Slovakia',
       'United States of america', 'Portugal ', 'England, United Kingdom',
       'Sierra Leone', 'Englang', 'United statew', 'UAE', 'Belgium ',
       'Singapore',
       'bonus based on meeting yearly goals set w/ my supervisor',
       'International ', 'The Bahamas ', 'Wales',
       "I earn commission on sales. If I meet quota, I'm guaranteed another 16k min. Last year i earned an additional 27k. It's not uncommon for people in my space to earn 100k+ after commission. ",
       'Costa Rica', ' United States', 'United Statues', 'Argentina',
       'Untied States',
       'USA (company is based in a US territory, I work remote)', 'Chile',
       'denmark', 'UK (England)', 'UK, remote', 'Scotland, UK', 'USAB',
       'Unitied States', 'Norway ', 'Qatar', 'United Sttes', 'Hungary',
       'Remote (philippines)', 'Unites kingdom ', 'South africa',
       'Portugal', 'united stated', 'United States Of America', 'Nigeria',
       'Panamá', 'Northern Ireland ', 'england', 'SWITZERLAND', 'Brazil',
       'Austria, but I work remotely for a Dutch/British company',
       'I was brought in on this salary to help with the EHR and very quickly was promoted to current position but compensation was not altered. ',
       'Uniter Statez', 'U. S ', 'Congo', 'United states of America',
       'Uruguay', 'Pakistan', 'USA tomorrow ', 'United Stateds',
       'n/a (remote from wherever I want)', 'singapore',
       'US govt employee overseas, country withheld', 'usa ', 'Malaysia ',
       'Uganda', 'Philippines', 'Poland', 'Malta', 'Bulgaria', 'Estonia',
       'Morocco', 'new zealand', 'Africa', 'Ecuador', 'Zimbabwe', 'Ghana',
       'San Francisco', 'Usat', '🇺🇸 ', 'Luxemburg', 'Unitef Stated', 'UA',
       'Wales, UK', 'United Stares ', 'Croatia ',
       'England, United Kingdom ', 'United STates', 'USaa', 'uSA',
       'South Korea ', 'The netherlands', 'Ukraine ', 'america',
       'switzerland', 'United States- Puerto Rico',
       'From New Zealand but on projects across APAC', 'Y', 'United y',
       'Thailand', 'Wales (UK)', 'Isle of Man',
       'Northern Ireland, United Kingdom', 'europe', 'California ',
       'UK, but for globally fully remote company', 'Australian ',
       'Jamaica', 'uS', 'USD', 'the netherlands',
       "USA, but for foreign gov't", 'japan', 'Kenya', 'Jordan',
       'United Statss', 'United states of america', 'UsA',
       'I work for a UAE-based organization, though I am personally in the US.',
       'United  States', 'france', 'Aotearoa New Zealand', 'na', 'Policy',
       'Cyprus', 'hong konh', 'United States is America', 'Liechtenstein',
       'Company in Germany. I work from Pakistan.', 'Canadá', 'ENGLAND',
       'United States of American', 'U.S.A ', 'Bosnia and Herzegovina',
       'pakistan', 'Nigeria ', 'London', 'ss', 'dbfemf', 'Saudi Arabia',
       'ibdia', 'LOUTRELAND', 'philippines', 'ff', 'Taiwan', 'Myanmar',
       'Burma', 'india', 'Italia', 'Hong KongKong', 'Liberia', '1'],
      dtype=object)

# Generalization

✔ Many categories
✔ Many textual columns
✔ Many numeric columns with too many unique values

Age is already generalized — it is not raw age, but abstracted age groups.

**Generalizing Education Levels**

In [ ]:
final_df['Education_level'].unique()

array(["Master's degree", 'College degree', 'PhD', 'Some college',
       'High School', 'Professional degree (MD, JD, etc.)'], dtype=object)

In [ ]:
edu_map = {
    "High School": "Secondary",
    "Some college": "Undergraduate",
    "College degree": "Undergraduate",
    "Master's degree": "Graduate",
    "Professional degree (MD, JD, etc.)": "Professional",
    "PhD": "Doctorate"
}

final_df["Edu_Level"] = final_df["Education_level"].map(edu_map)

In [ ]:
final_df['Edu_Level'].unique()

array(['Graduate', 'Undergraduate', 'Doctorate', 'Secondary',
       'Professional'], dtype=object)

**Generalizing Job_title Levels**

In [ ]:
len(final_df['Job_title'].unique())

14344

In [ ]:
def map_job_family(title):
    if pd.isna(title):
        return "Other"

    t = title.lower()

    # ===== DATA & AI =====
    if any(k in t for k in [
        'data', 'ml', 'machine learning', 'ai', 'artificial intelligence',
        'analytics', 'data scientist', 'statistic'
    ]):
        return "Data / AI"

    # ===== SOFTWARE & ENGINEERING =====
    if any(k in t for k in [
        'engineer', 'developer', 'devops', 'swe', 'software', 'programmer',
        'full stack', 'backend', 'frontend', 'cloud'
    ]):
        return "Software Engineering"

    # ===== IT SUPPORT / SYSTEMS =====
    if any(k in t for k in [
        'it support', 'helpdesk', 'tech support', 'system admin', 'sysadmin',
        'network', 'infrastructure', 'desktop support'
    ]):
        return "IT Systems / Support"

    # ===== PRODUCT / PROJECT / SCRUM =====
    if any(k in t for k in [
        'product', 'project', 'program manager', 'scrum', 'agile', 'pmo'
    ]):
        return "Product / Project"

    # ===== DESIGN / CREATIVE =====
    if any(k in t for k in [
        'designer', 'ux', 'ui', 'graphic', 'creative', 'illustrator'
    ]):
        return "Design / UX"

    # ===== SALES / BUSINESS DEV =====
    if any(k in t for k in [
        'sales', 'account manager', 'business development', 'bdm', 'inside sales'
    ]):
        return "Sales / Business"

    # ===== MARKETING =====
    if any(k in t for k in [
        'marketing', 'seo', 'content', 'social media', 'brand'
    ]):
        return "Marketing"

    # ===== FINANCE / ACCOUNTING =====
    if any(k in t for k in [
        'finance', 'accountant', 'fp&a', 'auditor', 'tax', 'bookkeeper', 'controller'
    ]):
        return "Finance / Accounting"

    # ===== HR / RECRUITING =====
    if any(k in t for k in [
        'hr', 'human resources', 'recruiter', 'talent', 'people operations'
    ]):
        return "HR / Recruiting"

    # ===== HEALTHCARE =====
    if any(k in t for k in [
        'nurse', 'doctor', 'physician', 'medical', 'clinical', 'healthcare'
    ]):
        return "Healthcare"

    # ===== EDUCATION =====
    if any(k in t for k in [
        'teacher', 'professor', 'lecturer', 'educator', 'school'
    ]):
        return "Education"

    # ===== LEGAL =====
    if any(k in t for k in [
        'attorney', 'lawyer', 'legal', 'paralegal'
    ]):
        return "Legal"

    # ===== OPERATIONS / ADMIN =====
    if any(k in t for k in [
        'operations', 'admin', 'administrative', 'office', 'assistant',
        'secretary', 'coordinator'
    ]):
        return "Operations / Admin"

    # ===== MANAGEMENT / EXECUTIVE =====
    if any(k in t for k in [
        'manager', 'director', 'vp', 'chief', 'cfo', 'ceo', 'cto', 'lead', 'head'
    ]):
        return "Management / Leadership"

    # ===== SKILLED TRADES =====
    if any(k in t for k in [
        'mechanic', 'electrician', 'plumber', 'carpenter', 'welder', 'technician'
    ]):
        return "Skilled Trades"

    # ===== MISC =====
    return "Other"

In [ ]:
final_df['Job_family'] = final_df['Job_title'].apply(map_job_family)

In [ ]:
final_df['Job_family'].value_counts()

Job_family
Other                      9153
Management / Leadership    5258
Operations / Admin         4080
Software Engineering       3536
Product / Project          2145
Data / AI                  1613
Marketing                  1259
Education                  1096
HR / Recruiting             856
Finance / Accounting        804
Design / UX                 801
Legal                       782
Healthcare                  651
Sales / Business            590
Skilled Trades              234
IT Systems / Support         94
Name: count, dtype: int64

# Normalizarion

Normalization means scaling numeric values so they fall within a smaller, more consistent range.

**Min–Max Normalization (0 to 1 scaling)**

Good for ML models like neural networks.

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

final_df['salary_minmax'] = scaler.fit_transform(final_df[['Salary']])

**Z-Score Normalization (Standard Scaling)**

Formula:


x′ =(𝑥−𝜇) / 𝜎

→ Centers data around mean = 0, std = 1

→ Useful when values have outliers (salary does!)

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

final_df['salary_zscore'] = scaler.fit_transform(final_df[['Salary']])

**Decimal Scaling Normalization**

Move decimal point until value is between −1 and 1.

Example:

Max salary = 500,000 → 6 digits → divide by 10^6

In [ ]:
import numpy as np

max_salary = final_df['Salary'].abs().max()
j = len(str(int(max_salary)))  # number of digits

final_df['salary_decimal_scaled'] = final_df['Salary'] / (10**j)

| Method              | Best used when     | Good for salary?                  |
| ------------------- | ------------------ | --------------------------------- |
| **Min–Max**         | Want values in 0–1 | ❌ Salary has outliers → DANGEROUS |
| **Z-Score**         | Data has outliers  | ✅ BEST for salary                 |
| **Decimal scaling** | Simple compression | ❌ Not effective for skewed salary |